#ContactContent {
  .contact-text{
    font-size: 1.2em;
    margin-bottom: 20px;
    letter-spacing: .1em;
    line-height: 1.6;
  }
  .mail-link{
    font-size: 1.8em;
    letter-spacing: .15em;
    font-weight: bold;
    a{
      display: inline-block;
      transition: .3s;
      position: relative;
      &::after{
        position: absolute;
        bottom: 8px;
        left: 50%;
        content: '';
        width: 0;
        height: 1px;
        background: #1b1b1b;
        transition: .3s;
        transform: translateX(-50%);
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #ContactContent {
    .contact-text{
      font-size: 1.4em;
      margin-bottom: 40px;
    }
    .mail-link{
      font-size: 2.4em;
      font-weight: normal;
    }
  }
}
